.customScrollbar {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.customScrollbar:hover {
  scrollbar-color: rgba(100, 100, 100, 0.5) transparent;
}

.customScrollbar::-webkit-scrollbar {
  width: 6px;
}

.customScrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.customScrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.customScrollbar:hover::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.5);
}
